<h1>Stock#index</h1>
<p>
Stock Name:    <%= @stocks.last.name %></br>
Stock Symbol:  <%= @stocks.last.symbol %></br>
Stock Quantity: <%= @stocks.last.volume.to_i %></br>
Stock Price:   <%= @stocks.last.price %></br>
Stock Created: <%= @stocks.last.created_at %></br>
Stock Id:      <%= @stocks.last.id %>
</p>
