<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Team Portfolio Tracker", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">

        <% if current_user && !(current_admin) %>
          <%= render partial: 'layouts/userNav' if current_user %>
        <% elsif !(current_user) && current_admin %>
          <%= render partial: 'layouts/adminNav' if current_admin %>
        <% else %>
          <li><%= link_to "User Sign In", new_user_session_path %></li>
          <li><%= link_to "Admin Sign In", new_admin_session_path %></li>
        <% end %>

      </ul>
    </div>

  </div>
</nav>
